@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Wedding Planner</h1>
    <div>
        <a href="/logout">Log Out</a> |
        <a href="/newwedding">New Wedding</a>
    </div>
    <table class="table">
        <tr>
            <th>Wedding</th>
            <th>Date</th>
            <th>Guests</th>
            <th>Actions</th>
        </tr>
        @foreach (Wedding w in ViewBag.Weddings) {
            <tr>
                <td><a href="/weddings/@w.WeddingId">@w.Wedder1 & @w.Wedder2</a></td>
                <td>@w.Date.ToString("dd/M/yyyy")</td>
                <td>@w.RSVPs.Count</td>
                @{
                    bool attending = false;
                    foreach(RSVP rsvp in ViewBag.ActiveUser.RSVPs) {
                        if(rsvp.W == w) {
                            attending = true;
                            break;
                        }
                    }
                }
                <td>
                    @if(w.CreatorId == ViewBag.ActiveUser.UserId) {
                        <a href="@w.WeddingId/delete">Delete</a>
                    } else if(attending) {
                        <a href="@w.WeddingId/unrsvp">UnRSVP</a>
                    } else {
                        <a href="@w.WeddingId/rsvp">RSVP</a>
                    }
                </td>
            </tr>
        }
    </table>
</div>
